<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionType</key>
		<string>main</string>
		<key>sectionName</key>
		<string>&quot;&quot;</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster0</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster1</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster2</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster3</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster4</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster5</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster6</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster7</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster8</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster9</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster10</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster11</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster12</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster13</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster14</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster15</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster16</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster17</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster18</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster19</string>
			</dict>
			<dict>
				<key>description</key>
				<string>나중에 여기다가 필터를 추천하는 것에 부가 설명을 적어주세요</string>
				<key>imageName</key>
				<string>poster20</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>basic</string>
		<key>sectionName</key>
		<string>지금 나온 따끈따끈한 필터</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster0</string>
			</dict>
			<dict>
				<key>description</key>
				<string>위트•풍부한 감정•드라마 장르•멀티캐스팅•감옥•한국 작품</string>
				<key>imageName</key>
				<string>poster1</string>
			</dict>
			<dict>
				<key>description</key>
				<string>거부할 수 없는 이끌림•다크•청춘 영화•드라마 장르•생존</string>
				<key>imageName</key>
				<string>poster2</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster3</string>
			</dict>
			<dict>
				<key>description</key>
				<string>리얼 인생극장•리얼리티 TV•팝 컬처•셀럽•쇼비즈•결혼</string>
				<key>imageName</key>
				<string>poster4</string>
			</dict>
			<dict>
				<key>description</key>
				<string>열혈의 도전•다크•긴장감  넘치는•스릴러•드라마 장르</string>
				<key>imageName</key>
				<string>poster5</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>contentItem</key>
		<array>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster5</string>
			</dict>
			<dict>
				<key>description</key>
				<string>위트•풍부한 감정•드라마 장르•멀티캐스팅•감옥•한국 작품</string>
				<key>imageName</key>
				<string>poster6</string>
			</dict>
			<dict>
				<key>description</key>
				<string>거부할 수 없는 이끌림•다크•청춘 영화•드라마 장르•생존</string>
				<key>imageName</key>
				<string>poster7</string>
			</dict>
			<dict>
				<key>description</key>
				<string>액션•스릴러•복수•범죄•뉴욕•미국 작품•만화 원작•TV</string>
				<key>imageName</key>
				<string>poster8</string>
			</dict>
			<dict>
				<key>description</key>
				<string>리얼 인생극장•리얼리티 TV•팝 컬처•셀럽•쇼비즈•결혼</string>
				<key>imageName</key>
				<string>poster9</string>
			</dict>
			<dict>
				<key>description</key>
				<string>열혈의 도전•다크•긴장감  넘치는•스릴러•드라마 장르</string>
				<key>imageName</key>
				<string>poster10</string>
			</dict>
		</array>
		<key>sectionType</key>
		<string>basic</string>
		<key>sectionName</key>
		<string>새로 나온 필터를 체험해보세요</string>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>rank</string>
		<key>sectionName</key>
		<string>개발자가 추천하는 TOP 10 필터</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster20</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster14</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster19</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster18</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster17</string>
			</dict>
			<dict>
				<key>description</key>
				<string>위트•풍부한 감정•드라마 장르•멀티캐스팅•감옥•한국 작품</string>
				<key>imageName</key>
				<string>poster16</string>
			</dict>
			<dict>
				<key>description</key>
				<string>거부할 수 없는 이끌림•다크•청춘 영화•드라마 장르•생존</string>
				<key>imageName</key>
				<string>poster15</string>
			</dict>
			<dict>
				<key>description</key>
				<string>액션•스릴러•복수•범죄•뉴욕•미국 작품•만화 원작•TV</string>
				<key>imageName</key>
				<string>poster13</string>
			</dict>
			<dict>
				<key>description</key>
				<string>리얼 인생극장•리얼리티 TV•팝 컬처•셀럽•쇼비즈•결혼</string>
				<key>imageName</key>
				<string>poster12</string>
			</dict>
			<dict>
				<key>description</key>
				<string>열혈의 도전•다크•긴장감  넘치는•스릴러•드라마 장르</string>
				<key>imageName</key>
				<string>poster11</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>large</string>
		<key>sectionName</key>
		<string>어렵게 만든 필터들</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>description</key>
				<string>열혈의 도전•다크•긴장감  넘치는•스릴러•드라마 장르</string>
				<key>imageName</key>
				<string>poster11</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster14</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster18</string>
			</dict>
			<dict>
				<key>description</key>
				<string>리얼 인생극장•리얼리티 TV•팝 컬처•셀럽•쇼비즈•결혼</string>
				<key>imageName</key>
				<string>poster12</string>
			</dict>
			<dict>
				<key>description</key>
				<string>위트•풍부한 감정•드라마 장르•멀티캐스팅•감옥•한국 작품</string>
				<key>imageName</key>
				<string>poster16</string>
			</dict>
			<dict>
				<key>description</key>
				<string>거부할 수 없는 이끌림•다크•청춘 영화•드라마 장르•생존</string>
				<key>imageName</key>
				<string>poster15</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster19</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster17</string>
			</dict>
			<dict>
				<key>description</key>
				<string>액션•스릴러•복수•범죄•뉴욕•미국 작품•만화 원작•TV</string>
				<key>imageName</key>
				<string>poster13</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster20</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionType</key>
		<string>basic</string>
		<key>sectionName</key>
		<string>최고에 인기를 가진 필터</string>
		<key>contentItem</key>
		<array>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster9</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster10</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster11</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster12</string>
			</dict>
			<dict>
				<key>description</key>
				<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
				<key>imageName</key>
				<string>poster13</string>
				<key>New item</key>
				<dict>
					<key>description</key>
					<string>흥미진진•판타지 애니메이션•액션 애니메이션•멀티캐스팅</string>
					<key>imageName</key>
					<string>poster14</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
